.overlay-full::after{
  transform:translateX(100%);
  font-family:sans-serif;
  content:attr(data-content);
  left:calc(50% + 12vh);
  position:relative;
  font-weight:bold;
  font-size:25px;
  color:#333;
  top:0%;
}

.empty,.full{
  transform:translate(-50%,50%);
  position:absolute;
  height:80vh;
  bottom:50vh;
  left:50vw;
}
.full{
  transform:translateX(-50%);
  bottom:0;
}
.overlay-full{
  position:absolute;
  overflow:hidden;
  width:100vw;
  bottom:10vh;
  height:0;
  left:0;
}
